<section class="comment-preview-tree">
    <div class="comment-preview" [ngClass]="{highlight:loggedInUserId===comment.ownerId}">
        <div class="user-img">
            <img [src]="'../../assets/user-imgs/'+ comment.ownerId+'.jpg'">
        </div>

        <div class="user-data">
            <span class="user-nickName">{{ownerDisplayeyName}}</span>
            <span class="comment-created-at">{{comment.createdAt|customTimeFrmat}}</span>
        </div>
        
        <a *ngIf="loggedInUserId" (click)="selectComment(comment.id!,false)" class="add-comment">Reply</a>

        <div class="comment-txt">{{comment.txt}}</div>
        <div *ngIf="comment.ownerId===loggedInUserId" class="contorller-btns">
            <button (click)="deleteUser.emit(loggedInUserId)">Delete User</button>
            <button (click)="deleteComment.emit(comment.id)">Delete Comment</button>
            <button (click)="selectComment(comment.id!,true)">Edit Comment</button>
        </div>
    </div>


    <add-comment *ngIf="comment.id===selectedCommentId" [selectedCommentId]="selectedCommentId" (addComment)="addComment.emit($event)"
        [loggedInUserId]="loggedInUserId"  [isEdit]="isEdit"></add-comment>

    <ng-container *ngIf="comments.length">
        <comment-preview *ngFor="let comment of this.selectedComments;trackBy:identify "
            [loggedInUserId]="loggedInUserId"
            (onSelectComment)=" onSelectComment.emit($event)" 
            (deleteUser)="deleteUser.emit($event)"
            (addComment)="addComment.emit($event)"
            (deleteComment)="deleteComment.emit($event)" 
            [spacingLeft]="spacingLeft+10" [comment]="comment">
        </comment-preview>
    </ng-container>
</section>