:host{
    position: relative;
    background-color: var(--third);
    .comments-window{
        padding: 1em 1em ;
        background-color: var(--third);
        display: flex;
        flex-direction: column;
        gap: 1em;
        overflow-x: scroll;
    }
}