    <add-comment *ngIf="loggedInUser" [selectedCommentId]="selectedCommentId"></add-comment>
<div class="comments-window">
    <ng-container *ngIf="comments">
        <comment-preview *ngFor="let comment of comments "
        (addComment)="onSaveComment($event)" 
        (deleteComment)="onDeleteComment($event)"
        (deleteUser)="onDeleteUser($event)" 
        (onSelectComment)="onSelectComment($event)"
        [spacingLeft]="0" [selectedCommentId]="selectedCommentId" [comment]="comment">
        </comment-preview>
    </ng-container>
</div>