.add-comment-form {
    background-color: var(--third);
    display: flex;
    padding: 1em;
    justify-content: center;
    align-items: center;
    gap: 1em;

    & .user-img {
        height: 50px;
        width: 50px;
    
        & img {
            border-radius: 50%;
            width: 50px;
            object-fit: cover;

            aspect-ratio: 1/1;

        }
    }

    & textarea {
        padding: .6em;
        border: unset;
        box-shadow: 0 0 1.5px;
        border-radius: 1em;
        background-color: var(--main);
        height: 50px;
    }

    & button {
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        border: none;
        box-shadow: 0 0 1.5px;
        background-image: url(../../../assets/comment.png);
        background-position: center;
        background-size: 70%;
        background-repeat: no-repeat;
        &:hover{
            background-color: whitesmoke;
            outline: 1px solid var(--main);
        }
    }
}